.cart {
  min-height: 100vh;
  width: 100vw;
  background-color: lightgray;
  padding-block: 20vh; // avoiding collapsing margins
  position: relative;
}

.contentWrapper {
  display: grid;
  grid-template-columns: repeat(13, minmax(0px, 1fr));
  grid-template-rows: 60vh;
  background-color: #fff;
}

.contentWrapperLeft {
  grid-column: 2/8;
  background-color: grey;
  width: 100%;
  height: 60vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    border: solid greenyellow 0.1rem;
  }
}

.itemContainerLeft {
  // background-color: lime;
  // height: 100%;

  > div {
    border: solid greenyellow 0.1rem;
    display: flex;
    flex-direction: column;
    padding-block: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    height: 55vh;
  }
}

.itemLeft {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 300px;
  background-color: salmon;
  width: 100%;
}

.imageWrapper {
  grid-column: 1;
  border: solid black 0.2rem;
}

.infoWrapper {
  grid-column: 2;
  border: solid black 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Content-cart-right

.contentWrapperRight {
  grid-column: 9/13;
  background-color: grey;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  > div {
    height: 2rem;
    padding-top: 0.5rem;
  }

  a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  button {
    min-width: 80%;
  }
}
