.landingBrand {
  height: 80vh;
  width: 100vw;
  background-color: white;
  padding: 1rem;
  margin-top: 10vh;

  div {
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(227, 227, 227);
    height: 100%;
    width: 100%;
  }
}
